<font color="red"></font>
<font color="red">
* 1. Загрузим данные из файла с расширением csv (adult.data.csv);
* 2. Проведем очистку данных;
* 3. С помощью библиотеки Pandas проведем описательный анализ данных и ответим на несколько вопросов по данным набора Adult по доходу населения, каждый объект которого содержит социальные характеристики некоторого человека (возраст, пол, профессиональная деятельность и т.п.);
* 4. Выполним запись результатов в файл с разделителями.
	
</font>

Уникальные значения признаков датасета Adult по доходу населения:
 * age: возраст
 * workclass: вид работы: Частный, без оплаты, никогда не работал и т.д.
 * fnlwgt: вес кейса
 * education: уровень образования: Бакалавриат, Некоторые колледжи, 11-й, Высшая степень, Профессиональная школа, Доцент-acdm, Assoc-voc, 9-й, 7-8-й, 12-й, Магистр, 1-4-й, 10-й, Докторантура, 5-й-6-й, Дошкольное.
 * education-num: код уровня образования.
 * marital-status: статус гражданина: Женат-гражданская супруга, Разведен, Никогда не состоял в браке, Раздельно, Вдова, Женат-супруга-отсутствует, Женат-AF-супруга.
 * occupation: род занятий 
 * relationship: Жена, Собственный ребенок, Муж, Не член семьи, Другой родственник, Неженатый.
 * race: расса
 * sex: пол: Женщина мужчина.
 * capital-gain: Прибыль (число)
 * capital-loss: Затраты
 * hours-per-week: количество часов в неделю.
 * native-country: страна
 * salary: уровень дохода: > 50 тыс., <= 50 тыс.

In [ ]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

## 1. Загрузим данные из файла с расширением csv (adult.data.csv)

In [ ]:
df = pd.read_csv('adult.data.csv')
pd.set_option("display.precision", 1)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0.0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0.0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0.0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0.0,40,Cuba,<=50K

In [ ]:
print(df.shape)

(32561, 15)

### Анализ статистических характеристик

In [ ]:
df.describe()

           age   fnlwgt  education-num  capital-loss  hours-per-week
count  32561.0  3.3e+04        32561.0       32554.0         32561.0
mean      38.6  1.9e+05           10.1          87.3            40.4
std       13.6  1.1e+05            2.6         403.0            12.3
min       17.0  1.2e+04            1.0           0.0             1.0
25%       28.0  1.2e+05            9.0           0.0            40.0
50%       37.0  1.8e+05           10.0           0.0            40.0
75%       48.0  2.4e+05           12.0           0.0            45.0
max       90.0  1.5e+06           16.0        4356.0            99.0

## 2. Проведем очистку данных

Далеко не каждый набор данных представляет собой идеально подобранное множество наблюдений, без аномалий и пропущенных значений. В реальных данных мало порядка, так что прежде чем приступить к анализу, их нужно очистить и привести к приемлемому формату. Очистка данных — неприятная, но обязательная процедура при решении большинства задач по анализу данных.

### Типы данных и обработка пропусков

Есть еще одна проблема — отсутствующие значения, помеченные как «Not Available». Это строковое значение в Python, которое означает, что даже строки с числами будут храниться как типы данных object, потому что если в колонке есть какая-нибудь строковая, Pandas конвертирует её в колонку, полностью состоящую из строковых. Типы данных колонок можно узнать с помощью метода dataframe.info():

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32554 non-null  float64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 2.5+ MB

Наверняка некоторые колонки, которые явно содержат числа, сохранены как объекты. Мы не можем применять числовой анализ к строковым значениям, так что конвертируем их в числовые типы данных (особенно float)!

In [ ]:
# Проверяем уникальность значений в колонке "capital-gain"
pd.unique(df['capital-gain'].values)

array(['2174', '0', '14084', '5o', '5f', 'h7', '5013', '2407', '14344',
       '15024', '7688', '34095', '4064', '4386', '7298', '1409', '3674',
       '1055', '5178', '3464', '2050', '2176', '594', '20051', '6849',
       '4101', '1111', '8614', '3411', '2597', '25236', '4650', '9386',
       '2463', '3103', '10605', '2964', '3325', '2580', '3471', '4865',
       '99999', '6514', '1471', '2329', '2105', '2885', '25124', '10520',
       '2202', '2961', '27828', '6767', '2228', '1506', '13550', '2635',
       '5556', '4787', '3781', '3137', '3818', '3942', '914', '401',
       '2829', '2977', '4934', '2062', '2354', '5455', '15020', '1424',
       '3273', '22040', '4416', '3908', '10566', '991', '4931', '1086',
       '7430', '6497', '114', '7896', '2346', '3418', '3432', '2907',
       '1151', '2414', '2290', '15831', '41310', '4508', '2538', '3456',
       '6418', '1848', '3887', '5721', '9562', '1455', '2036', '1831',
       '11678', '2936', '2993', '7443', '6360', '1797', '1173', '4687',
       '6723', '2009', '6097', '2653', '1639', '18481', '7978', '2387',
       '5060'], dtype=object)

In [ ]:
pd.unique(df['capital-loss'].values)

array([   0.,   nan, 2042., 1408., 1902., 1573., 1887., 1719., 1762.,
       1564., 2179., 1816., 1980., 1977., 1876., 1340., 2206., 1741.,
       1485., 2339., 2415., 1380., 1721., 2051., 2377., 1669., 2352.,
       1672.,  653., 2392., 1504., 2001., 1590., 1651., 1628., 1848.,
       1740., 2002., 1579., 2258., 1602.,  419., 2547., 2174., 2205.,
       1726., 2444., 1138., 2238.,  625.,  213., 1539.,  880., 1668.,
       1092., 1594., 3004., 2231., 1844.,  810., 2824., 2559., 2057.,
       1974.,  974., 2149., 1825., 1735., 1258., 2129., 2603., 2282.,
        323., 4356., 2246., 1617., 1648., 2489., 3770., 1755., 3683.,
       2267., 2080., 2457.,  155., 3900., 2201., 1944., 2467., 2163.,
       2754., 2472., 1411.])

### Преобразование данных к нужному типу

Необходимо сначала заменить все «Not Available» на not a number (np.nan), которые можно интерпретировать как числа, а затем конвертирует содержимое определённых колонок в тип float:

In [ ]:
df = df.replace({'Not Available' : np.nan})
for clmn in list(df.columns):
    if ('capital-gain' in clmn):
        df[clmn] = pd.to_numeric(df[clmn], errors = 'coerce')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40,United-States,>50K

Выведем статистические данные:

In [ ]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.0,3.3e+04,32561.0,32557.0,32554.0,32561.0
mean,38.6,1.9e+05,10.1,1077.6,87.3,40.4
std,13.6,1.1e+05,2.6,7385.7,403.0,12.3
min,17.0,1.2e+04,1.0,0.0,0.0,1.0
25%,28.0,1.2e+05,9.0,0.0,0.0,40.0
50%,37.0,1.8e+05,10.0,0.0,0.0,40.0
75%,48.0,2.4e+05,12.0,0.0,0.0,45.0
max,90.0,1.5e+06,16.0,99999.0,4356.0,99.0

Когда значения в соответствующих колонках у нас станут числами, можно начинать исследовать данные.

### Отсутствующие и аномальные данные

Наряду с некорректными типами данных одна из самых частых проблем — отсутствующие значения. Они могут отсутствовать по разным причинам, и перед анализом эти значения нужно либо заполнить, либо удалить. Сначала давайте выясним, сколько у нас не хватает значений в каждой колонке

In [ ]:
def missing_values_table(df):
    tot_mis_val = df.isnull().sum()
    mis_val_percent = 100 * tot_mis_val / len(df)
    mis_val_table = pd.concat([tot_mis_val, mis_val_percent], axis = 1)
    mis_val_table_ren_clmns = mis_val_table \
    .rename(columns = {0 : 'Пропущенные значения', 1 : '% от общего значения'})
    mis_val_table_ren_clmns = mis_val_table_ren_clmns[mis_val_table_ren_clmns.iloc[:, 1] != 0] \
    .sort_values('% от общего значения', ascending = False).round(1)
    print ('Этот набор данных имеет ' + str(df.shape[1]) + ' столбцов. \n'
    'Количество столбцов с пропущенными значениями: ' + str(mis_val_table_ren_clmns.shape[0]))
    return mis_val_table_ren_clmns
missing_values_table(df)

Этот набор данных имеет 15 столбцов.
Количество столбцов с пропущенными значениями: 2

              Пропущенные значения  % от общего значения
capital-loss                     7                   0.0
capital-gain                     4                   0.0

Убирать информацию всегда нужно с осторожностью, и если много значений в колонке отсутствует, то она, вероятно, не пойдёт на пользу нашей модели. Порог, после которого колонки лучше выкидывать, зависит от нашей задачи, а в нашем проекте мы будем удалять колонки, пустые более чем на половину.

In [ ]:
missing_df = missing_values_table(df)
missing_clmns = list(missing_df[missing_df['% от общего значения'] <= 0.2].index)
print('Мы удалим %d столбца(ов).' % len(missing_clmns))

Этот набор данных имеет 15 столбцов.
Количество столбцов с пропущенными значениями: 2
Мы удалим 2 столбцов.

Удалим признаки с пропущенными значениями

In [ ]:
df = df.drop(columns = list(missing_clmns))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  hours-per-week  32561 non-null  int64
 11  native-country  32561 non-null  object
 12  salary          32561 non-null  object
dtypes: int64(4), object(9)
memory usage: 2.1+ MB

По завершении процесса очистки данных и удаления аномалий у нас осталось **13** признаков.

## 3. Описательный анализ данных

**1. Сколько неженатых граждан** (признак *relationship* = Unmarried) **представлено в этом наборе данных?**

In [ ]:
df['relationship'].value_counts()[3]

3446

**2. Каков средний возраст** (признак *age* ) **женщин** (признак *sex* = Female)), **которые зарабатывают много?** ( признак *salary* = >50K)

In [ ]:
mean_age = df[(df['sex'] == 'Female') & (df['salary'] == '>50K')]['age'].mean()
print(float('{:.2f}'.format(mean_age)))

42.13

**3. Какое наибольшее количество часов человек работает в неделю?** (признак *hours-per-week*)

In [ ]:
df['hours-per-week'].max()

99

**4. Сколько граждан  много зарабатывают** (признак *salary* = >50K), **которые закончили 9 классов**?  (признак *education* = 9th)

In [ ]:
df[df['education'] == '9th']['salary'].value_counts()[1]

27

**5. Посчитаем среднее время работы** (признак *hours-per-week*) **зарабатывающих мало и много** (признак *salary*).

Используем метод pivot_table(сводная таблица)

In [ ]:
mean_hour = df.pivot_table(['hours-per-week'], ['salary'], aggfunc = 'mean').head()
mean_hour

        hours-per-week
salary
<=50K             38.8
>50K              45.5

## 4. Запись данных  в файл

In [ ]:
df.to_csv('dataset_analysis_adult_csv')